{
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "curly": false,
    "eol-last": true,
    "no-underscore-dangle": false,
    "no-multi-spaces": false,
    "no-process-exit": false,
    "camelcase": false,
    "no-use-before-define": false,
    "no-shadow": false,
    "key-spacing": false,
    "no-loop-func": false,
    "consistent-return": false,
    "no-spaced-func": false,
    "no-alert": false,
    "new-cap": false,
    "comma-spacing": false,
    "yoda": false
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
}